header {
  color:#00FF00;
  float:left;
  font-size: 15px;
  padding: 0px 20px 0px 20px;
  }
.header2 {
  position: relative;
  left: 20px;
  padding: 0px 20px 0px 20px;
  float:left;
  font-size: 25px;
  font-weight: bold;
  border-top-style: solid;
  background-clip: padding-box;
  background-color:#FFFFFF;
  }
.bildteaser {
  float:left;
  padding: 0pc 5px 0px 5px;
  background-colour:#000000;
  }
body {
  background-color:#ff0000;
  }
